@font-face {
    font-family: Norse-Bold;
    src: url(./fonts/Norse-Bold.otf);
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.main {
    display:flex;
    flex-direction:row;
    width: 100vw;
    height: 100vh;
}

.left {
    font-family: Norse-Bold, sans-serif;
    background: url(leaves.jpg);
    width: 35vw;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;

}

.right {
    display: flex;
    flex-direction:column;
    width: 50vw;
}

.first {
    height: 35vh;
}

.second {
    height: 30vh;
}

.third {
    height: 35vh;
}


